.container {
  width: var(--width-primary);
  height: 4rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav_item {
    font-size: 1.2rem;
    color: #b0b0b0;
    line-height: 4rem;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  .sep {
    width: 1px;
    height: 1.2rem;
    background-color: #424242;
  }
}
