.btn {
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;

  &.gray {
    color: #757575;
    border-color: #b0b0b0;

    &:hover {
      color: #fff;
      border-color: #757575;
      background-color: #757575;
    }
  }
}