.container {
  width: 40rem;
  margin: 5rem 0 3rem;
  padding: 2.2rem 3rem 4rem;
  background-color: #fff;
}

.people_number {
  color: #b0b0b0;
  font-size: 1.4rem;

   :is(span) {
    color: var(--color-primary);
    font-size: 6rem;
  }
}

.percent_bar {
  height: 2.2rem;
  margin-top: 1.6rem;
  background: #f1f2f6;

   :is(span) {
    display: inline-block;
    height: 2.2rem;
    line-height: 2.2rem;
    background-color: var(--color-success);
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    overflow: hidden;
  }
}
