.container {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 2rem 1.2rem;
  border: 0.1rem solid var(--color-success);
  color: #757575;
  font-size: 1.2rem;
}

.header {
  margin: 1rem 0;
  line-height: 3rem;
  border-bottom: 0.1rem solid #cfeeab;

  :is(a) {
    display: inline-flex;
    align-items: center;
    margin-right: 1.2rem;

    &:hover {
      color: var(--color-primary);
    }
  }

  .waybill_no {
    user-select: text;
  }
}

.timeline {
  max-height: 12rem;
  overflow-y: auto;

  .time_node {
    padding: 0.6rem 0.6rem 0.6rem 1.8rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 1rem;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 0.7rem;
      background-color: var(--color-border);
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 1rem;
      bottom: -1rem;
      left: 0.3rem;
      width: 0.1rem;
      background-color: var(--color-border);
    }
    &:first-child::before {
      background-color: var(--color-success);
    }
    &:last-child::after {
      width: 0;
    }
  }
}
