.picker {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  padding: 1.6rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 92, 0, 0.2);

  .header {
    color: #757575;
    font-size: 1.4rem;
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid var(--color-border);

    .active {
      color: var(--color-primary);
      cursor: pointer;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      font-size: 1.2rem;

      &:hover {
        color: #757575;
        background-color: transparent;
      }
    }
  }

  .options {
    color: #333;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.4rem;
    cursor: pointer;

    .item {
      transition: 0.2s;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
