/* semantic color variables for this project */
:root {
    --color-primary: #ff6700;
    --color-background: #f5f5f5;
    --width-primary: 122.6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: normal;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}
