.container {
  width: var(--width-primary);
  margin: auto;
}

.header {
  height: 5.8rem;

  .title {
    font-size: 2.2rem;
    color: #333;
  }

  .more_link {
    display: flex;
    align-items: center;
    color: #424242;
    font-size: 1.6rem;
    font-weight: 200;
    transition: 0.4s;

    &:hover {
      color: var(--color-primary);

      .icon {
        color: var(--color-primary);
      }
    }

    .icon {
      color: #b0b0b0;
      font-size: 2rem;
      margin-left: 0.8rem;
      transition: 0.4s;
    }
  }
}

.videos {
  padding-bottom: 2.4rem;
}
